<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('assets/_include/_config/_meta', { meta: { title:'ABOUT',
    description:'ABOUT' }, og: { title:'ABOUT', description:'ABOUT',
    type:'website', url:'http://hogehoge.jp/about',
    image:'https://example.com/image.jpg' } }); %>
  </head>
  <body>
    <div data-barba="wrapper">
      <%- include('assets/_include/_layout/_header') %>

      <main data-barba="container">
        <a href="/">/</a>
        <% const array = [ { name: '人参', price: '500' }, { name: 'キャベツ',
        price: '398' }, { name: '白菜', price: '600' } ]; array.map((obj, i) =>
        { %> <%- include('assets/_include/_component/_test', { ...obj }) %> <%
        }) %>
      </main>

      <%- include('assets/_include/_layout/_footer') %>
    </div>

    <%- include('assets/_include/_config/_script') %>
  </body>
</html>
